* {
	box-sizing: border-box;
}

@font-face {
	font-family: 'Edit Undo';
	src: url('assets/fonts/editundo.eot');
	src: url('assets/fonts/editundo.eot?#iefix') format('embedded-opentype'), 
		url('assets/fonts/editundo.woff') format('woff'),
		url('assets/fonts/editundo.woff2') format('woff2'),
		url('assets/fonts/editundo.ttf') format('truetype'),
		url('assets/fonts/editundo.svg#svgFontName') format('svg');
}

html {
	font-family: 'Edit Undo', Fallback, sans-serif;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth; 
}

body{
	margin: 0;
	padding: 0;
	background-color: #121212;
	background-image: radial-gradient(circle at 50% 50%, #222 0%, #000 100%);
}

pre {
	font-family: 'Edit Undo', Fallback, sans-serif;
	margin: 0em;
}

header {
	position: sticky;
	top: 0;
	background-color: rgb(0, 0, 0);
	width: 100%;
	height: 5%;
	color: azure;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-title{
	padding: 0.5rem 0.5rem 0.5rem 2.5%;
	font-weight: bold;
	font-size: clamp(1rem, 7.5vw, 4rem);
	opacity: 1;
}

.header-buttons{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 40%;
	height: 100%;
    display: table;
    table-layout: fixed;
    overflow: hidden;
}

.header-buttons li{
	display: table-cell;
    text-align: center;
	padding-block: 5%;
    padding-left: 5px
}

.header-buttons li:first-child {
    padding-left: 0
}

.header-buttons li:hover{
	background-color: rgba(112, 84, 84, 0.3);
	transition: 300ms;
}

.header-buttons li a{
	width: 100%;
    display: block;
    height: 100%;
    color: white;
}

.header-buttons li a:hover{
	color: white;
	transition: 300ms;
}

.pixelated-border{
	border: 5px solid azure;
	border-radius: 0.7rem;
	clip-path: polygon(
	0px 8px,
	4px 8px,
	4px 4px,
	8px 4px,
	8px 0px,
	calc(100% - 8px) 0px,
	calc(100% - 8px) 4px,
	calc(100% - 4px) 4px,
	calc(100% - 4px) 8px,
	100% 8px,
	100% calc(100% - 8px),
	calc(100% - 4px) calc(100% - 8px),
	calc(100% - 4px) calc(100% - 4px),
	calc(100% - 8px) calc(100% - 4px),
	calc(100% - 8px) 100%,
	8px 100%,
	8px calc(100% - 4px),
	4px calc(100% - 4px),
	4px calc(100% - 8px),
	0px calc(100% - 8px)
    );
}

#home {
	margin: 1rem 10%;
	padding: 1rem;
	font-size: clamp(1rem, 2vw, 3rem);
	color: azure;
	width: 80%;
	background-color: rgba(255, 255, 255, 0.1);
}

#home #mareep{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: clamp(128px, 20%, 256px);
	height: auto;
	image-rendering: pixelated;
}

#home .content {
	display: grid;
	gap: 10px;
	grid-template-areas:
	'top top' 
	'left right'
	'bottom bottom';
}

#home .content > div{
	text-align: center;
	padding: 0.4rem;
}

#home .content .title{
	grid-area: top;
	padding: 0rem;
}

#home .content .left{
	grid-area: left;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 25px;
}

#home .content .right{
	grid-area: right;
	padding: 25px;
}

#home .content .bottom{
	grid-area: bottom;
}

.status.right{
	display: grid;
	grid-row-gap: 10px;
	grid-template-areas: 
	'stat-values attributes'
	;
}

.status .stat-values{
	grid-area: 'stat-values';
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: left;
}

.status .attributes{
	grid-area: 'attributes';
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: left;
}

#skills-pics{
	display: flex;
	flex-wrap: wrap;
}

#skills-pics img{
	display: block;
	width: clamp(64px, 20%, 128px);
	height: auto;
	image-rendering: pixelated;
}

@media only screen and (max-width: 768px) {
	#home .content {
		grid-template-areas:
		'top' 
		'left'
		'right'
		'bottom';
	}

	.status.right{
		grid-template-areas: 
		'stat-values'
		'attributes';
	}
}