* {
	box-sizing: border-box;
}

@font-face {
	font-family: 'Edit Undo';
	src: url('assets/fonts/editundo.eot');
	src: url('assets/fonts/editundo.eot?#iefix') format('embedded-opentype'), 
		url('assets/fonts/editundo.woff') format('woff'),
		url('assets/fonts/editundo.woff2') format('woff2'),
		url('assets/fonts/editundo.ttf') format('truetype'),
		url('assets/fonts/editundo.svg#svgFontName') format('svg');
}

html {
	font-family: 'Edit Undo', Fallback, sans-serif;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth; 
}

body{
	margin: 0;
	padding: 0;
	background-color: #121212;
	background-image: radial-gradient(circle at 50% 50%, #222 0%, #000 100%);
}

pre {
	font-family: 'Edit Undo', Fallback, sans-serif;
	margin: 0em;
}

header {
	position: sticky;
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	color: azure;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-title{
	padding: 0.5rem 0.5rem 0.5rem 2.5%;
	font-weight: bold;
	font-size: clamp(1rem, 7.5vw, 4rem);
	opacity: 1;
}

.header-buttons{
	display: flex;
	font-size: clamp(0.1rem, 2vw, 1rem);
}

.header-buttons a{
	padding: 10% clamp(2px, 3vw, 20px);
}

.header-buttons a:hover {
	background-color: rgba(112, 84, 84, 0.3);
	color: white;
	transition: 300ms;
}

.pixelated-border{
	border: 5px solid azure;
	border-radius: 0.7rem;
	clip-path: polygon(
	0px 8px,
	4px 8px,
	4px 4px,
	8px 4px,
	8px 0px,
	calc(100% - 8px) 0px,
	calc(100% - 8px) 4px,
	calc(100% - 4px) 4px,
	calc(100% - 4px) 8px,
	100% 8px,
	100% calc(100% - 8px),
	calc(100% - 4px) calc(100% - 8px),
	calc(100% - 4px) calc(100% - 4px),
	calc(100% - 8px) calc(100% - 4px),
	calc(100% - 8px) 100%,
	8px 100%,
	8px calc(100% - 4px),
	4px calc(100% - 4px),
	4px calc(100% - 8px),
	0px calc(100% - 8px)
    );
}

#home {
	margin: 1rem 10%;
	padding: 1rem;
	font-size: clamp(1rem, 2vw, 3rem);
	color: azure;
	width: 80%;
	background-color: rgba(255, 255, 255, 0.1);
}

#home #mareep{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: clamp(128px, 20%, 256px);
	height: auto;
	image-rendering: pixelated;
}

#home #content {
	display: grid;
	gap: 10px;
	grid-template-areas:
	'top top' 
	'left right'
	'bottom bottom';
}

#home #content > div{
	text-align: center;
	padding: 0.4rem;
}

#home #content #home-title{
	grid-area: top;
	padding: 0rem;
}

#home #content #home-left{
	grid-area: left;
	display: flex;
	align-items: center;
	justify-content: center;
}

#home #content #home-right{
	grid-area: right;
}

#home #content #home-bottom{
	grid-area: bottom;
}

#skills-pics{
	display: flex;
	flex-wrap: wrap;
}

#skills-pics img{
	display: block;
	width: clamp(64px, 20%, 128px);
	height: auto;
	image-rendering: pixelated;
}
@media only screen and (max-width: 600px) {
	#home #content #home-title {grid-area: 1 / span 2;}
	#home #content #home-left {grid-area: 2 / span 2;}
	#home #content #home-right {grid-area: 3 / span 2;}
	#home #content #home-bottom {grid-area: 4 /span 2;}
}